#content
  %ul.nav.nav-tabs
    %li
      = link_to 'View performance', results_performance_path, data: {method: :post, remote: true, params: {results: @source}}
    %li.active
      = link_to 'View positions', results_positions_path, data: {method: :post, remote: true, params: {results: @source}}
  %h3 Positions will be here
  %p= @source