---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=37284bc8ee81680656d2273ea24082664d08d77c95175d29f1d30aabaf138948&auth_timestamp=1433710725&auth_version=1.0&body_md5=37ff5e16894544b23fc283c685b9b01d
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Processing
        2012-12-31 - ranking stocks\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 20:58:45 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=57cc91a1783137836a5cdda7ec174e0ed2e9a923a2e9066bd1d01d2e8f7bd0b6&auth_timestamp=1433711162&auth_version=1.0&body_md5=6382183128693251ff1c4c1460657ce5
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Building
        reports - Positions as of 2012-12-31\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:03 GMT
recorded_with: VCR 2.9.3
