---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=792ea6003c9668aecb413f63ab11bc7c8071e44765b2f2eecf8357c62c3ed74a&auth_timestamp=1433711165&auth_version=1.0&body_md5=37ff5e16894544b23fc283c685b9b01d
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Processing
        2012-12-31 - ranking stocks\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:06 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=a07223c35dd932dcb0d2b74899a663dc0aa228c65fd97fc0022449307d744066&auth_timestamp=1433711168&auth_version=1.0&body_md5=6382183128693251ff1c4c1460657ce5
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Building
        reports - Positions as of 2012-12-31\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:08 GMT
recorded_with: VCR 2.9.3
