---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=bf01cb6e0366fdd303e9c330b4f11b1e89fbb147003f0e4f6b0edef975bb5f31&auth_timestamp=1433711178&auth_version=1.0&body_md5=37ff5e16894544b23fc283c685b9b01d
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Processing
        2012-12-31 - ranking stocks\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:18 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=4813fc8a43c94a7b44075802256514c2479091634fc0f3abbbe9627df1aed11c&auth_timestamp=1433711181&auth_version=1.0&body_md5=6382183128693251ff1c4c1460657ce5
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Building
        reports - Positions as of 2012-12-31\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:21 GMT
recorded_with: VCR 2.9.3
