---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=eec2b9d1ba2c392bae4e5638534ee109dafaa41c2d4a3e1b4c88785b3417ff8c&auth_timestamp=1433711163&auth_version=1.0&body_md5=37ff5e16894544b23fc283c685b9b01d
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Processing
        2012-12-31 - ranking stocks\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:03 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=2173fea2ed1e3b3c185d17a06b44cf900f264dc9cea71c4a110dd62a448e73ab&auth_timestamp=1433711165&auth_version=1.0&body_md5=6382183128693251ff1c4c1460657ce5
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Building
        reports - Positions as of 2012-12-31\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:05 GMT
recorded_with: VCR 2.9.3
