---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=0adcafd933c1287831c84dd621fcf1ed82bee5db061e722e7d460d200af9f8a5&auth_timestamp=1433711175&auth_version=1.0&body_md5=37ff5e16894544b23fc283c685b9b01d
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Processing
        2012-12-31 - ranking stocks\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:15 GMT
[...]
- request:
    method: post
    uri: http://api.pusherapp.com/apps/122120/events?auth_key=5d80c1b3908b01bea17d&auth_signature=bd7751df6606e3d14858d88c5db959d84cd4073c11769402f178854c159b8bc9&auth_timestamp=1433711178&auth_version=1.0&body_md5=6382183128693251ff1c4c1460657ce5
    body:
      encoding: UTF-8
      string: '{"name":"update","channels":["fake_puhser_channel"],"data":"{\"message\":\"Building
        reports - Positions as of 2012-12-31\"}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: '{}'
  recorded_at: Sun, 07 Jun 2015 21:06:18 GMT
recorded_with: VCR 2.9.3
