.container
  .row
    .col-sm-6.col-sm-offset-2#main_column
      .h3 Enter strategy parameters
      %form.form-horizontal
        .form-group
          %label.control-label.col-sm2(for="position_count") # of positions in portfolio
          .col-sm-6
            %input